<main class="d-flex">
  <app-side-bar></app-side-bar>
  <div>
  <section>
    <article>
      <h1 class="titoletti">Protezione Civile</h1>

      <h5 class="fw-bold">Cos'è la Protezione Civile</h5>
      <p>
        È l’insieme delle competenze e delle attività volte a tutelare la vita,
        l'integrità fisica, i beni, gli insediamenti, gli animali e l'ambiente
        dai danni o dal pericolo di danni derivanti da eventi calamitosi di
        origine naturale o derivanti dall'attività dell'uomo. Il Sistema di
        coordinamento nazionale è l’apice del sistema pubblico, di cui fanno
        parte altre componenti istituzionali, come Comuni, Regioni, Province, il
        Corpo nazionale dei Vigili del Fuoco, le Forze Armate, le Forze di
        Polizia, il Corpo forestale dello Stato ecc. La Protezione Civile è
        anche una struttura operativa in grado di coordinare i corpi
        specialistici dispiegati nelle emergenze e di affiancarli negli
        interventi.
      </p>

      <h3 class="titoletti">Cosa fa la Protezione Civile?</h3>
      <h5 class="fw-bold">Prevede</h5>
      <p>
        Analizza e determina le cause dei fenomeni calamitosi, individua i
        rischi e delimita il territorio interessato. I principali fattori di
        rischio su cui si focalizza l'attenzione sono:
      </p>
      <ul>
        <li>rischio chimico-industriale</li>
        <li>rischio idraulico e di eventi atmosferici intensi</li>
        <li>rischio incendio boschivo</li>
        <li>rischio sismico.</li>
      </ul>

      <h5 class="fw-bold">Previene</h5>
      <p>
        Mette in campo ogni azione volta ad evitare o a ridurre danni
        conseguenti all’evento. Rientrano nella prevenzione le esercitazioni,
        gli interventi strutturali, il Piano di Emergenza Comunale, la
        Formazione e le campagne di informazione.
      </p>

      <h5 class="fw-bold">Soccorre</h5>
      <p>
        Fornisce ogni forma di prima assistenza attraverso l’attivazione
        dell’Unità di Crisi Locale e del Centro Operativo Comunale. Coordina i
        volontari e le strutture operative di Protezione Civile.
      </p>

      <h5 class="fw-bold">Supera l’emergenza</h5>
      <p>
        Regola il ritorno allo stato di normalità attraverso il monitoraggio
        delle operazioni di ripristino strade, edifici pubblici, attività
        produttive.
      </p>
    </article>

    <article>
      <h2 class="titoletti">Chi siamo</h2>
      <!-- descrizione che mi forniranno -->
      <p>non ho ancora la descrizione</p>
      <img src="" alt="immagine pc" />
    </article>
  </section>
  <section>
    <div class="gallery text-center">
      <h3 class="fw-bold mt-5">Gallery</h3>

      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/300/200"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/300/200"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/300/200"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
</div>
</main>
