
// formatto la sezione

section{
  font-family: 'Philosopher', sans-serif;

  // margin: 0 6vw;

  .titoletti{
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-weight:bold;
  }
}
// .gallery{
//   width:30vw;
//   margin-left:25vw;
//   margin-right: 25vw;
// }
